@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(
    to top,
    #fff1eb 0%,
    #ace0f9 100%
  ) !important;
}

.swiper-container {
  max-height: 500px;
  min-height: 500px;
}

.sc-dlnjwi {
  overflow: scroll;
  height: 30rem;
}
